.root {
    -fx-font-family: "Arial";
    -fx-background-color: #f5f5f5;
}

.titulo {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

.subtitulo {
    -fx-font-size: 16px;
    -fx-text-fill: #666666;
}

.menu-button {
    -fx-pref-width: 220px;
    -fx-pref-height: 120px;

    -fx-font-size: 20px;
    -fx-font-weight: bold;

    -fx-background-radius: 10px;
    -fx-border-radius: 10px;

    -fx-cursor: hand;
}

.menu-button:hover {
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}